body{
    padding: 0;
    margin: 0;
    height: 400vh;
    background-color: #11131F;
}
nav{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
}
li{
    text-decoration: none;
    list-style: none;
    margin: 12px;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}
header{
    background-color: white;
}
.C2{
    text-decoration: none;
    margin: 12px;
    display: flex;
    align-content: flex-end;
}

.box{
    border: #5958B1 solid 2px;
    width: 50%;
    height: 250px;
    padding: 5px;
    margin: 10px;
    color: #B1A9FF;
    border-radius: 2%;
    box-shadow: 0 0 20px #5958B1, 0 0 40px #5958B1,
   0 0 60px #5958B1;
   
    transition: box-shadow 0.3s;
    position: sticky;
    top: 0;
    background-color: black;
}
#N2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box:hover{
    box-shadow: 0 0 30px #5958B1, 0 0 60px #5958B1,
   0 0 90px #5958B1;
    
}
p{
    font-family: "Poppins", serif;
    color: #B1A9FF;
}
h1{
    color: #B1A9FF;
    
}

.dev1{
    display: flex;
    justify-content: flex-end;
}

#N1{
    background-color: #171625;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#dev2{
    height: 90%;
    width: 40%;
}

img{
    width: 40%;
    height: 40%;
}
h2{
    font-family: "Poppins", serif;
    color: black;
}
h3{
    font-family: "Poppins", serif;
    color: #B1A9FF;
}

#N4{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #11131F;
}
#N2{
    background-color: #11131F;

}
img{

    margin: 12px;
}
#Capture{
    width: 60%;
    height: 60%;
    border-radius: 2%;
}
.SL{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.LS{
    display: flex;
}
h1{
    color: #B1A9FF;
    font-family: "Poppins", serif;
}

.Carte{
    color: #B1A9FF;
}
html{
    scroll-behavior: smooth;
}
#Projet{
    color: #B1A9FF;
}
li{
    margin-left: 120px;
}